.target {
				width:100%;
				height:563px;
				overflow:hidden;
				position:relative;
				margin:20px auto;
			}
			.target img {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				}